<% page_title '重發確認郵件' %>

<!-- Login Form -->
<%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), wrapper: :vertical_form, html: { method: :post }) do |f| %>
<div class="form-inputs">
    <%- if f.full_error :confirmation_token %>
    <div class="alert alert-danger fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <%= f.full_error :confirmation_token %>
    </div>
  <%- end %>

  <%= f.input :email, wrapper: :vertical_input_group, as: :email, autofocus: true, required: true %>
</div>

<div class="form-actions">
  <%= f.button :button, 'Resend confirmation instructions', class: 'btn-block btn-primary', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>&nbsp;&nbsp;Sending..."} %>
</div>
<br />
<% end %>
<!-- END Login Form -->
