<% page_title '重啟帳號' %>

<!-- Login Form -->
<%= simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), wrapper: :vertical_form, html: { method: :post }) do |f| %>
<div class="form-inputs">
  <%= f.input :email, wrapper: :vertical_input_group, as: :email, autofocus: true, required: true %>
</div>

<div class="form-actions">
  <%= f.button :button, 'Resend unlock instructions', class: 'btn-block btn-primary', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>&nbsp;&nbsp;Sending..."} %>
</div>
<br />
<% end %>
<!-- END Login Form -->
