<div class="container">
  <!-- Site Logo -->
  <%= link_to 'hkStockOwl', root_path, class: 'site-logo' %>
  <!-- END Site Logo -->

  <!-- Site Navigation -->
  <nav>
    <!-- Menu Toggle -->
    <!-- Toggles menu on small screens -->
    <a href="javascript:void(0)" class="btn btn-default site-menu-toggle visible-xs visible-sm">
      Menu
    </a>
    <!-- END Menu Toggle -->

    <!-- Main Menu -->
    <ul class="site-nav">
      <%= render 'layouts/navigation_links' %>
    </ul>
    <!-- END Main Menu -->
  </nav>
  <!-- END Site Navigation -->
</div>
