 <form action="index.html" method="post" class="form-inline" onsubmit="return false;">
    <div class="form-group">
        <label class="sr-only" for="register-email">Your Email</label>
        <div class="input-group">
            <input type="email" id="register-email" name="register-email" class="form-control" placeholder="Your Email..">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary">Subscribe</button>
            </span>
        </div>
    </div>
</form>
