<li>
  <a href="https://www.facebook.com/hkStockOwl" class="social-facebook" data-toggle="tooltip" title="Like our Facebook page" target="_blank">
    <i class="fa fa-fw fa-facebook"></i>
  </a>
</li>
<li>
  <a href="https://twitter.com/hkStockOwl" class="social-twitter" data-toggle="tooltip" title="Follow us on Twitter" target="_blank">
    <i class="fa fa-fw fa-twitter"></i>
  </a>
</li>
<li>
  <a href="https://plus.google.com/+hkStockOwlPage/" class="social-google-plus" data-toggle="tooltip" title="Like our Google+ page" target="_blank">
    <i class="fa fa-fw fa-google-plus"></i>
  </a>
</li>
